header, nav, main, footer{
    display: block;
    width: 1078px;
}

body {
    color: #ffffff;
    background-color:#000000;
    margin: 0px;
    text-align: center; 
} 
header {
    color: #531f1f; 
    background-color:#2b3886;;
    height: 100px;
    position:relative;
}
nav {
    color: #0d0c42; 
    background-color:#6a91b1;
    height: 200px;
}
main {
    color: #531f1f; 
    background-color:#2b3886;
    height: auto;
    overflow:hidden;
}
footer {
    color: #1b2125; 
    background-color:#849dcc;
    height: 100px;
    clear: both; 
}
#col-left {
    background-color:#006acc;
    width: 200px;
    height: 200px;
    float: left; 
    }
#col-center {
    background-color:#466b91;
    width: 878;
    height: auto;
    

} 

img {
    position: absolute;
    left: 50px;
    width: 60px;
    height: 60px;
    border: 2px dotted #731980;
}


table, th, td {
    border: 1px solid black;
}

th {
    background-color: #2b8660;
}

tr:nth-child(even) {
     background: rgb(176, 172, 201);
}

tr:nth-child(odd) {
    background: red;
}
      
